In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Hotel Reservations.csv')
df.head(50)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled
6,INN00007,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,2017,10,15,Online,0,0,0,107.55,1,Not_Canceled
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,12,26,Online,0,0,0,105.61,1,Not_Canceled
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,7,6,Offline,0,0,0,96.90,1,Not_Canceled
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,10,18,Online,0,0,0,133.44,3,Not_Canceled
10,INN00011,1,0,1,0,Not Selected,0,Room_Type 1,0,2018,9,11,Online,0,0,0,85.03,0,Not_Canceled
11,INN00012,1,0,2,1,Meal Plan 1,0,Room_Type 4,35,2018,4,30,Online,0,0,0,140.40,1,Not_Canceled
12,INN00013,2,0,2,1,Not Selected,0,Room_Type 1,30,2018,11,26,Online,0,0,0,88.00,0,Canceled
13,INN00014,1,0,2,0,Meal Plan 1,0,Room_Type 1,95,2018,11,20,Online,0,0,0,90.00,2,Canceled
14,INN00015,2,0,0,2,Meal Plan 1,0,Room_Type 1,47,2017,10,20,Online,0,0,0,94.50,2,Not_Canceled
15,INN00016,2,0,0,2,Meal Plan 2,0,Room_Type 1,256,2018,6,15,Online,0,0,0,115.00,1,Canceled
16,INN00017,1,0,1,0,Meal Plan 1,0,Room_Type 1,0,2017,10,5,Offline,0,0,0,96.00,0,Not_Canceled
17,INN00018,2,0,1,3,Not Selected,0,Room_Type 1,1,2017,8,10,Online,0,0,0,96.00,1,Not_Canceled
18,INN00019,2,0,2,2,Meal Plan 1,0,Room_Type 1,99,2017,10,30,Online,0,0,0,65.00,0,Canceled
19,INN00020,2,0,1,0,Meal Plan 1,0,Room_Type 1,12,2017,10,4,Offline,0,0,0,72.00,0,Not_Canceled
20,INN00021,2,0,2,2,Meal Plan 1,0,Room_Type 1,99,2017,10,30,Online,0,0,0,65.00,0,Canceled
21,INN00022,1,0,0,1,Meal Plan 1,0,Room_Type 1,122,2018,11,25,Corporate,0,0,0,67.00,0,Not_Canceled
22,INN00023,2,0,2,4,Meal Plan 1,0,Room_Type 1,2,2018,3,20,Offline,0,0,0,85.00,0,Not_Canceled
23,INN00024,2,0,0,3,Meal Plan 1,0,Room_Type 1,37,2018,10,13,Offline,0,0,0,105.00,0,Not_Canceled
24,INN00025,2,0,2,1,Not Selected,0,Room_Type 1,130,2018,5,22,Online,0,0,0,94.50,1,Not_Canceled
25,INN00026,2,0,0,2,Meal Plan 1,0,Room_Type 1,99,2018,4,28,Online,0,0,0,114.30,1,Not_Canceled
26,INN00027,2,0,1,1,Meal Plan 1,0,Room_Type 1,60,2017,9,21,Offline,0,0,0,65.00,0,Not_Canceled
27,INN00028,1,0,0,2,Meal Plan 1,0,Room_Type 4,2,2018,5,19,Aviation,0,0,0,110.00,0,Canceled
28,INN00029,1,0,1,2,Meal Plan 1,0,Room_Type 1,37,2017,11,6,Online,0,0,0,37.33,0,Canceled
29,INN00030,2,0,0,2,Meal Plan 2,0,Room_Type 1,56,2017,9,17,Offline,0,0,0,82.00,0,Not_Canceled
30,INN00031,2,0,1,1,Meal Plan 1,0,Room_Type 4,3,2017,9,19,Online,0,0,0,177.50,1,Not_Canceled
31,INN00032,2,0,2,2,Meal Plan 1,0,Room_Type 1,107,2018,11,13,Online,0,0,0,87.50,1,Not_Canceled
32,INN00033,0,2,0,3,Meal Plan 1,0,Room_Type 2,56,2018,12,7,Online,0,0,0,82.44,1,Not_Canceled
33,INN00034,2,0,0,1,Not Selected,0,Room_Type 1,2,2018,1,9,Online,0,0,0,69.50,1,Not_Canceled
34,INN00035,2,0,0,2,Meal Plan 1,0,Room_Type 1,72,2018,10,7,Offline,0,0,0,85.50,0,Not_Canceled
35,INN00036,2,0,0,1,Not Selected,1,Room_Type 1,23,2018,4,27,Online,0,0,0,115.00,1,Not_Canceled
36,INN00037,1,0,2,1,Meal Plan 1,0,Room_Type 1,34,2018,6,19,Online,0,0,0,81.00,0,Canceled
37,INN00038,2,0,0,1,Meal Plan 1,0,Room_Type 1,289,2017,10,17,Offline,0,0,0,67.00,0,Not_Canceled
38,INN00039,2,0,2,3,Not Selected,0,Room_Type 1,247,2018,11,19,Online,0,0,0,63.75,0,Canceled
39,INN00040,2,0,2,1,Meal Plan 1,0,Room_Type 4,186,2018,7,30,Online,0,0,0,121.80,1,Canceled
40,INN00041,2,0,0,4,Meal Plan 1,0,Room_Type 1,64,2018,11,1,Online,0,0,0,93.60,2,Not_Canceled
41,INN00042,2,0,0,2,Meal Plan 1,0,Room_Type 1,35,2018,6,21,Online,0,0,0,102.00,1,Not_Canceled
42,INN00043,3,0,2,1,Meal Plan 1,0,Room_Type 1,96,2018,4,10,Online,0,0,0,121.80,1,Not_Canceled
43,INN00044,2,0,1,1,Not Selected,0,Room_Type 1,41,2018,6,27,Online,0,0,0,98.10,1,Canceled
44,INN00045,2,0,0,4,Meal Plan 1,0,Room_Type 4,55,2017,11,18,Offline,0,0,0,60.00,1,Not_Canceled
45,INN00046,2,0,0,3,Meal Plan 1,0,Room_Type 1,146,2017,12,29,Offline,0,0,0,75.00,0,Not_Canceled
46,INN00047,1,0,0,2,Meal Plan 1,0,Room_Type 1,32,2017,11,20,Offline,0,0,0,73.00,0,Not_Canceled
47,INN00048,2,0,0,1,Meal Plan 2,0,Room_Type 1,55,2018,4,6,Offline,0,0,0,104.00,0,Not_Canceled
48,INN00049,2,0,0,4,Not Selected,0,Room_Type 1,57,2018,11,1,Online,0,0,0,79.20,1,Not_Canceled
49,INN00050,1,0,1,3,Meal Plan 1,0,Room_Type 4,7,2018,12,29,Online,0,0,0,125.80,2,Not_Canceled

In [3]:
df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [4]:
df.describe(include='all')

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
count,36275,36275.000000,36275.000000,36275.000000,36275.000000,36275,36275.000000,36275,36275.000000,36275.000000,36275.000000,36275.000000,36275,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275
unique,36275,NaN,NaN,NaN,NaN,4,NaN,7,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,2
top,INN00001,NaN,NaN,NaN,NaN,Meal Plan 1,NaN,Room_Type 1,NaN,NaN,NaN,NaN,Online,NaN,NaN,NaN,NaN,NaN,Not_Canceled
freq,1,NaN,NaN,NaN,NaN,27835,NaN,28130,NaN,NaN,NaN,NaN,23214,NaN,NaN,NaN,NaN,NaN,24390
mean,NaN,1.844962,0.105279,0.810724,2.204300,NaN,0.030986,NaN,85.232557,2017.820427,7.423653,15.596995,NaN,0.025637,0.023349,0.153411,103.423539,0.619655,NaN
std,NaN,0.518715,0.402648,0.870644,1.410905,NaN,0.173281,NaN,85.930817,0.383836,3.069894,8.740447,NaN,0.158053,0.368331,1.754171,35.089424,0.786236,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,0.000000,2017.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,2.000000,0.000000,0.000000,1.000000,NaN,0.000000,NaN,17.000000,2018.000000,5.000000,8.000000,NaN,0.000000,0.000000,0.000000,80.300000,0.000000,NaN
50%,NaN,2.000000,0.000000,1.000000,2.000000,NaN,0.000000,NaN,57.000000,2018.000000,8.000000,16.000000,NaN,0.000000,0.000000,0.000000,99.450000,0.000000,NaN
75%,NaN,2.000000,0.000000,2.000000,3.000000,NaN,0.000000,NaN,126.000000,2018.000000,10.000000,23.000000,NaN,0.000000,0.000000,0.000000,120.000000,1.000000,NaN
max,NaN,4.000000,10.000000,7.000000,17.000000,NaN,1.000000,NaN,443.000000,2018.000000,12.000000,31.000000,NaN,1.000000,13.000000,58.000000,540.000000,5.000000,NaN

In [5]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Booking_ID,36275,36275,INN00001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no_of_adults,36275.0,NaN,NaN,NaN,1.844962,0.518715,0.0,2.0,2.0,2.0,4.0
no_of_children,36275.0,NaN,NaN,NaN,0.105279,0.402648,0.0,0.0,0.0,0.0,10.0
no_of_weekend_nights,36275.0,NaN,NaN,NaN,0.810724,0.870644,0.0,0.0,1.0,2.0,7.0
no_of_week_nights,36275.0,NaN,NaN,NaN,2.2043,1.410905,0.0,1.0,2.0,3.0,17.0
type_of_meal_plan,36275,4,Meal Plan 1,27835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
required_car_parking_space,36275.0,NaN,NaN,NaN,0.030986,0.173281,0.0,0.0,0.0,0.0,1.0
room_type_reserved,36275,7,Room_Type 1,28130,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lead_time,36275.0,NaN,NaN,NaN,85.232557,85.930817,0.0,17.0,57.0,126.0,443.0
arrival_year,36275.0,NaN,NaN,NaN,2017.820427,0.383836,2017.0,2018.0,2018.0,2018.0,2018.0
arrival_month,36275.0,NaN,NaN,NaN,7.423653,3.069894,1.0,5.0,8.0,10.0,12.0
arrival_date,36275.0,NaN,NaN,NaN,15.596995,8.740447,1.0,8.0,16.0,23.0,31.0
market_segment_type,36275,5,Online,23214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
repeated_guest,36275.0,NaN,NaN,NaN,0.025637,0.158053,0.0,0.0,0.0,0.0,1.0
no_of_previous_cancellations,36275.0,NaN,NaN,NaN,0.023349,0.368331,0.0,0.0,0.0,0.0,13.0
no_of_previous_bookings_not_canceled,36275.0,NaN,NaN,NaN,0.153411,1.754171,0.0,0.0,0.0,0.0,58.0
avg_price_per_room,36275.0,NaN,NaN,NaN,103.423539,35.089424,0.0,80.3,99.45,120.0,540.0
no_of_special_requests,36275.0,NaN,NaN,NaN,0.619655,0.786236,0.0,0.0,0.0,1.0,5.0
booking_status,36275,2,Not_Canceled,24390,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [7]:
df.isnull().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [8]:
df.shape

(36275, 19)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [10]:
df[['Booking_ID']]=df[['Booking_ID']].astype('string')

In [11]:
df[['type_of_meal_plan']]=df[['type_of_meal_plan']].astype('string')
df[['room_type_reserved']]=df[['room_type_reserved']].astype('string')
df[['market_segment_type']]=df[['market_segment_type']].astype('string')

In [12]:
df[['booking_status']]=df[['booking_status']].astype('string')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  string
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  string
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  string
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  string
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  string
dtypes: float64(1), int64(13), string(5)
memory usage: 5.3 MB

In [13]:
Booking_status = df[['booking_status']]
Booking_status = pd.get_dummies(Booking_status, drop_first = False)

In [14]:
Booking_status.head(10)

   booking_status_Canceled  booking_status_Not_Canceled
0                        0                            1
1                        0                            1
2                        1                            0
3                        1                            0
4                        1                            0
5                        1                            0
6                        0                            1
7                        0                            1
8                        0                            1
9                        0                            1